<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Guide: https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry#authenticating-with-a-personal-access-token -->
    <!-- Configure authentication in one of these files instead: https://learn.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior?source=recommendations#config-file-locations-and-uses -->
    <add key="github" value="https://nuget.pkg.github.com/JoeStrout/index.json" />
  </packageSources>
</configuration>
